.container-input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  position: relative;
  width: 260px;
  height: 40px;
}
.input-field label {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  color: #333;
  transition: 0.2s all;
  cursor: text;
}
.input-field input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
}
.input-field input:invalid {
  outline: 0;

  border-color: #bbb;
}

.input-field input:focus,
.input-field input:valid {
  border-color: #0088cc;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #0088cc;
}

/*******************************/
.input-field-incorrect {
  position: relative;
  width: 260px;
  height: 40px;
}
.input-field-incorrect label {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  color: #333;
  transition: 0.2s all;
  cursor: text;
}
.input-field-incorrect input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
}
.input-field-incorrect input:invalid {
  outline: 0;

  border-color: #bbb;
}

.input-field-incorrect input:focus,
.input-field-incorrect input:valid {
  border-color: red;
}
.input-field-incorrect input:focus ~ label,
.input-field-incorrect input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: red;
}
